
<div class="container">
      <img src="../../assets/logo.jpg" width="50" height="50" alt="">
      <span id="logo">IT Security</span>
</div>

<div class="topnav">
  <div class="container">
    <ul class="nav navbar-nav">
      <a class="nav-item" routerLink="/home">Home</a>
      <a class="nav-item" routerLink="/annoumcement">Announcement</a>
      <a class="nav-item" routerLink="/document">Documentation</a>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <a class="nav-item" href="#">中</a>
      <a class="nav-item">Ｅ</a>
    </ul>
  </div>
</div>

<div class="container">
  <img width="1000" height="250" src="../../assets/banner.jpg">
</div>