<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">Useful Links</h6>
                <ul class="footer-ul">
                    <li class="col-md-6"><a href="//madgeek.in" class="footer-link">About Us</a>
                    </li>
                    <li class="col-md-6"><a href="//madgeek.in" class="footer-link">Privacy
                            Policy</a></li>
                    <li class="col-md-6"><a href="//madgeek.in" class="footer-link">T & Conditions</a></li>
                    <li class="col-md-6"><a href="//madgeek.in" class="footer-link">Contact Us</a></li>
                    <li class="col-md-6"><a href="//madgeek.in" class="footer-link">Sitemap</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 paddingtop-bottom"></div>
            <div class="col-md-4 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">Contact</h6>
                <ul class="footer-ul">
                    <li class="footer-link">通報專線 : 11111-11111</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="col-md-12 col-sm-12">
            <p> 站長 : yoyo</p>
        </div>
    </div>
</div>