<div class="container content">
    <div class="row">
        <div class="col-md-4">
            <i class="fa fa-chevron-right fa-lg list-icon"></i>
            <span class="list-title"> PP SOP</span>
            <ul class="fa-ul">
                <li><i class="fa fa-minus"></i> abc</li>
                <li><i class="fa fa-minus"></i> abc</li>
                <li><i class="fa fa-minus"></i> abc</li>
            </ul>
        </div>

        <div class="col-md-4">
            <i class="fa fa-chevron-right fa-lg list-icon"></i>
            <span class="list-title"> PP SOP</span>
            <ul class="fa-ul">
                <li><i class="fa fa-minus"></i> abc</li>
                <li><i class="fa fa-minus"></i> abc</li>
                <li><i class="fa fa-minus"></i> abc</li>
            </ul>
        </div>

         <div class="col-md-4">
            <div class="card card-default">
                <div class="card-header hot-info">
                    <i class="fa fa-bullhorn fa-lg list-icon"></i>   
                    <span>   熱門訊息</span>
                </div>
            <div class="card-body">
                    <ul class="fa-ul">
                        <li>abc</li>
                        <li>def</li>
                        <li>hij</li>
                    </ul>
            </div>
            </div>
        </div>
    </div>
</div>
