<div class="container content">
    <div class="row">
        <div class="col-md-4">
            <i class="fa fa-chevron-right fa-lg list-icon"></i>
            <span class="list-title"> Application form</span>
            <ul class="fa-ul">
                <li><i class="fa fa-minus"></i> abc</li>
                <li><i class="fa fa-minus"></i> abc</li>
                <li><i class="fa fa-minus"></i> abc</li>
            </ul>
            <a class="more-button" routerLink="/document">More</a>
        </div>

        <div class="col-md-4">
            <i class="fa fa-chevron-right fa-lg list-icon"></i>
            <span class="list-title"> PP SOP</span>
            <ul class="fa-ul">
                <li><i class="fa fa-minus"></i> abc</li>
                <li><i class="fa fa-minus"></i> abc</li>
                <li><i class="fa fa-minus"></i> abc</li>
            </ul>
            <a class="more-button" routerLink="/document">More</a>
        </div>

        <div class="col-md-4">
            <i class="fa fa-chevron-right fa-lg list-icon"></i>
            <span class="list-title"> Competition</span>
            <ul class="fa-ul">
                <li><i class="fa fa-minus"></i> abc</li>
                <li><i class="fa fa-minus"></i> abc</li>
                <li><i class="fa fa-minus"></i> abc</li>
            </ul>
        </div>
    </div>
</div>

